{% extends "shop/base.html" %}
{% load i18n %}
{% load satchmo_order %}
{% load satchmo_google %}
{% load satchmo_util%}
{% load normalize_decimal %}

{% block extra-head %}
<!-- Google Analytics Code -->
<script id="google-analytics" type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-16994796-1']);
  _gaq.push(['_trackPageview']);
  _gaq.push(['_addTrans',
   "{{order.id}}",
   "{{Store}}",
   "{{order.total|truncate_decimal}}",
   "{{order.tax|truncate_decimal}}",
   "{{order.shipping_sub_total|truncate_decimal}}",
   "{{order.ship_city}}",
   "{{order.ship_state}}",
   "{{order.ship_country}}"
  ]);

   // add item might be called for every item in the shopping cart
   // where your ecommerce engine loops through each item in the cart and
   // prints out _addItem for each

	// la funzione qui di seguito viene richiamata PER OGNI articolo acquistato
	{% for item in order.orderitem_set.all %}
        _gaq.push(['_addItem',
          "{{order.id}}",
          "{{item.product.slug}}",
          "{{item.product.name}}",
          "{{item.category}}",
          "{{item.unit_price|truncate_decimal}}",
          "{{item.quantity|normalize_decimal}}"
        ]);
        
    {% endfor %}
    _gaq.push(['_trackTrans']); //submits transaction to the Analytics servers

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!-- Google Analytics Code -->
{% endblock %}

{% block navbar %}
   <li class="first"><a href="{{ shop_base }}/">{% trans "Home" %}</a></li>
   <li>{% trans "Checkout" %}</li>
{% endblock %}

{% block content %}
<div id="ordersuccess">
	<div class="ship-step">&nbsp;</div>
		<h1 class="documentFirstHeding">{% trans "Suspended order" %}</h1>
		<p>{% trans 'Your order is suspended' %}</p>
        <div id="information">
          <p>
            <strong>Suspended!</strong>
          </p>
        </div>
        
        {% comment %}
        <h5>{% trans 'Order details' %}</h5>
        {% order_tracking_details order %}
        {% endcomment %}
        
        <div class="visualClear"><!-- --></div>
        <div class="account-buttons">
           {% trans 'You can check your order status' %}:
           <a class="button-orange" href="{% url satchmo_order_history %}">{% trans "order history" %}</a> oppure
           <a class="button-back" href="/">{% trans 'Proceed with another purchase' %}</a>
        </div>
	</div>
</div>
<!-- Google Code for Acquisto Conversion Page -->
<div id="google-conversion">
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1015087871;
var google_conversion_language = "it";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "Mk30CLGnuwEQ_4WE5AM";
var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1015087871/?label=Mk30CLGnuwEQ_4WE5AM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
</div>
<!-- Google Code for Acquisto Conversion Page -->

{% endblock %}

{% block google-tracker %}
{% if shop.options.GOOGLE.ANALYTICS.value %}
{% show_tracker %}
{% show_receipt %}
{% endif %}
{% if shop.options.GOOGLE.ADWORDS.value %}
{% google_adwords_sale %}
{% endif %}
{% endblock %}

